/* 헤더 스타일 */
.header {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--Primary-Color-Light-Baige, #fceed5);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  gap: 5rem;
}
.header-h1 {
  font-size: 3rem;
  text-align: center;
  text-align: center;
  white-space: nowrap;
  padding-left: 0.65rem;
  position: relative;
  z-index: 3;
}
.header-h1:before {
  bottom:160%;
  left: -250%;
  content: "";
  position: absolute;
  z-index: -1;
  width: 39.6875rem;
  height: 39.6875rem;
  transform: rotate(25.23deg);
  flex-shrink: 0;
  border-radius: 6.1875rem;
  background: var(--Secondary-Color-Mon-Yellow, #f7dba7);
}
body {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.mw {
  max-width: 1450px;
  margin: auto;
  padding: 0 3rem;
  overflow: hidden;
}

.nav-ul {
  display: flex;
  color: var(--Primary-Color-Dark-Blue, #003459);
  gap: 2rem;
}
.nav-ul > li {
  font-size: 1.845rem;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  flex: 1;
}
