/* .modal {
  position: absolute;
  opacity: 0;
}
.modal.active {
  transition: 0.4s;
  opacity: 1;
  background-color: #f1f5f6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.modal-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.modal-img-box {
  grid-column: 1 / 2;
}
.modal-info-box {
  display: flex;
  flex-direction: column;
}
.modal-info-detail {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border: 1px solid black;
} */
.modal {
  opacity: 0;
  scale: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 245, 246, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
  transition: 0.4s;
  scale: 1;
  opacity: 1;
}

.modal-wrap {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  overflow: hidden;
}

.modal-img-box {
  position: relative;
  overflow: hidden;
  width: 70;
  height: 74%;
  padding: auto;
  position: relative;
  /* transform: translate(10%, -5%); */
}

.modal-img-box img {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  /* object-position: center center; */
  object-fit: fill;
}

.go-to-shelter {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.modal-info-box {
  display: flex;
  flex-direction: column;
}

.modal-info-top {
  margin-bottom: 20px;
}

.modal-info-top li {
  list-style-type: none;
  margin-bottom: 5px;
}

.modal-info-top li:nth-child(2) {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.modal-info-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 20px; /* 원하는 간격 크기로 조정 */
  column-gap: 0; /* 열 사이 간격은 0으로 설정 */
  border-radius: 5px;
  padding: 15px;
  color: var(--Neutral-Color-60, #667479);
  font-family: ABeeZee;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  white-space: nowrap;
}
.modal-info-detail > div {
  margin-bottom: 0.33rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* 검은색 10% 불투명도 */
}
/* .modal-info-detail div:nth-child(odd) {
  font-weight: bold;
  color: #555;
} */

.map {
  margin-top: 20px;
  height: 200px;
  background-color: #e0e0e0;
  border-radius: 5px;
}
