/* 섹션2 */
.section-2 {
  margin-top: 80px;
  min-height: 300px;
  height: auto;
}
.sec2-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.sec2-top > img {
  width: 8.0625rem;
  height: 7.6875rem;
  flex-shrink: 0;
}
.sec2-top > h2 {
  white-space: nowrap;
  color: var(--Primary-Color-Dark-Blue, #003459);
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec2-animal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 2rem 2rem 4rem 2rem;
}
.sec2-grid-element {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  width: 310px;
  height: 24.6875rem;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0.2, 0.2, 0.2, 0.2);
}
.sec2-grid-img-box {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}
.sec2-grid-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.sec2-grid-info-ul {
  width: 100%;
  font-size: 1.5rem;
  /* border: 1px solid black; */
  height: 40%;
}
.sec2-grid-name-date {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.pagination > button {
  font-style: italic;
  border: none;
  padding: 0.5rem;
  font-size: 1.24rem;
  cursor: pointer;
  color: var(--Primary-Color-Dark-Blue);
  background-color: white;
}
.pagination > button.active {
  color: var(--Primary-Color-Light-Baige);
  
}
