.section-3 {
  margin-top: 130px;
  min-height: 300px;
  height: auto;
}

.sec3-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.sec3-top > img {
  width: 8.0625rem;
  height: 7.6875rem;
  flex-shrink: 0;
}

.sec3-top > h2 {
  white-space: nowrap;
  color: var(--Primary-Color-Dark-Blue, #003459);
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec3-select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.sec3-select {
  width: 18%;
  padding: 10px 12px 8px 20px;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border: 1px solid var(--Neutral-Color-20, #ccd1d2);
  color: #667479;
  position: relative;
}

.sec3-animal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem 2rem 4rem 2rem;
}

.sec3-grid-element {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  width: 100%;
  height: 24.6875rem;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0.2, 0.2, 0.2, 0.2);
}

.sec3-grid-img-box {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}

.sec3-grid-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.sec3-grid-info-ul {
  width: 100%;
  font-size: 1.5rem;
  height: 40%;
}

.sec3-grid-name-date {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-size: 20px;
  color: var(--Primary-Color-Dark-Blue, #003459);
}

.loading-indicator > span {
  width: 20px;
  height: 20px;
  background-color: var(--Primary-Color-Dark-Blue, #003459);
  border-radius: 50%;
  margin: 0 5px;
  animation: bounce 0.6s infinite alternate;
}

.loading-indicator > span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-indicator > span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
