.section-3 {
  margin-top: 130px;
  min-height: 300px;
  height: auto;
}
.section-3 > h2 {
  text-align: center;
  font-size: 3.125rem;
  font-style: italic;
  white-space: nowrap;
}
.sec3-select-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.sec3-select {
  width: 100%;
  padding: 10px 12px 8px 20px;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  border: 1px solid var(--Neutral-Color-20, #ccd1d2);
  color: #667479;
  position: relative;
}
.sec3-animal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  overflow: hidden;
  padding: 0 2rem 4rem 2rem;
}
.sec3-grid-element {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 0.5rem;
  width: 310px;
  height: 24.6875rem;
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(0.2, 0.2, 0.2, 0.2);
}
.sec3-grid-img-box {
  position: relative;
  width: 100%;
  height: 70%;
  border-radius: 1rem;
}
.sec3-grid-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.sec3-grid-info-ul {
  width: 100%;
  font-size: 1.5rem;
  /* border: 1px solid black; */
  height: 40%;
}
.sec3-grid-name-date {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 1.7rem;
  margin-bottom: 0.4rem;
}